.fon2-icon {
	position: absolute;
	height: calc(100% - 205px);
	width: 100%;
	top: 205px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	max-width: 100%;
	overflow: hidden;
	max-height: 100%;
	object-fit: cover;
}
.frame-child {
	align-self: stretch;
	position: relative;
	background-color: rgba(217, 217, 217, 0.59);
	height: 27px;
	z-index: 0;
}
.frame-item {
	align-self: stretch;
	position: relative;
	background-color: var(--color-darkgray);
	border-top: 3px solid var(--color-steelblue-200);
	box-sizing: border-box;
	height: 3px;
	z-index: 1;
}
.frame-inner {
	width: calc(100% + 3px);
	position: absolute;
	margin: 0 !important;
	height: 10%;
	top: -5%;
	right: -1.5px;
	bottom: 95%;
	left: -1.5px;
	background-color: var(--color-darkgray);
	border-top: 3px solid var(--color-steelblue-200);
	box-sizing: border-box;
	z-index: 2;
}
.div1 {
	width: 100%;
	position: absolute;
	margin: 0 !important;
	height: 90%;
	top: 0%;
	left: 0px;
	font-weight: 900;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 3;
}
.rectangle-parent {
	position: absolute;
	width: 100%;
	top: 178px;
	right: 0px;
	left: 0px;
	height: 30px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	gap: 3px;
	text-align: center;
}
.div2 {
	position: relative;
}
.wrapper {
	position: absolute;
	width: 47.14%;
	top: 0px;
	right: 0%;
	left: 52.86%;
	border-radius: var(--br-xl);
	background-color: var(--color-steelblue-100);
	height: 74px;
	overflow: hidden;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}
.container {
	position: absolute;
	width: 46.57%;
	top: 0px;
	right: 53.43%;
	left: 0%;
	border-radius: var(--br-xl);
	background-color: var(--color-steelblue-100);
	height: 74px;
	overflow: hidden;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}
.div4 {
	width: 165px;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 74px;
	flex-shrink: 0;
}
.frame {
    position: absolute;
    width: 46.86%; /* Оставьте это значение, или измените на 100% для полного ширины */
    top: 86px; /* Позиционирование по вертикали */
    right: 50%; /* Центрируем по горизонтали */
    transform: translateX(50%); /* Сдвигаем влево на половину ширины элемента */
    border-radius: var(--br-xl);
    background-color: var(--color-steelblue-100);
    height: 74px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    text-align: center;
}
.frame-div {
	position: absolute;
	width: 46.57%;
	top: 83px;
	right: 0.29%;
	left: 53.14%;
	border-radius: var(--br-xl);
	background-color: var(--color-steelblue-100);
	height: 74px;
	overflow: hidden;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	text-align: center;
}
.batton {
	position: absolute;
	width: 93.33%;
	top: 246px;
	right: 3.73%;
	left: 2.93%;
	height: 160px;
	font-size: var(--font-size-sm);
	color: var(--color-white);
}
.maintext-child {
	position: absolute;
	top: 28px;
	left: -4px;
	border-radius: 10px;
	background-color: rgba(255, 170, 11, 0.76);
	width: 37px;
	height: 74px;
	overflow: hidden;
}
.p {
	margin: 0;
	font-weight: 800;
}
.p3 {
	margin: 0;
}
.div6 {
	position: absolute;
	top: 5px;
	left: 6px;
	display: inline-block;
	width: 193px;
}
.maintext {
	position: absolute;
	top: 52px;
	left: 167px;
	border-radius: 8px;
	background-color: rgba(255, 255, 255, 0.56);
	width: 199px;
	height: 93px;
	overflow: hidden;
	font-size: 17px;
}
.logo-icon {
	position: absolute;
	top: 25px;
	left: 14px;
	width: 140px;
	height: 140px;
	object-fit: cover;
	cursor: pointer;
}
.div {
	width: 100%;
	position: relative;
	background-color: #8095b4;
	height: 812px;
	overflow: hidden;
	text-align: left;
	font-size: 12px;
	color: var(--color-steelblue-100);
	font-family: var(--font-inter);
}

