.fon1-icon {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.div {
  position: relative;
  line-height: 22px;
  text-shadow: 1px 0 0 #000, 0 1px 0 #000, -1px 0 0 #000, 0 -1px 0 #000;
}
.batton {
  position: absolute;
  height: 6.37%;
  width: calc(100% - 145px);
  top: 88.79%;
  right: 81px;
  bottom: 4.84%;
  left: 64px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  background-color: #005493;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 10px;
  box-sizing: border-box;
  cursor: pointer;
  font-size: 20px;
}
.p {
  margin: 0;
}
.div1 {
  position: absolute;
  width: calc(100% - 16px);
  top: calc(50% + 16px);
  left: 8px;
  line-height: 22px;
  display: inline-block;
  height: 142px;
  text-shadow: 1px 0 0 #000, 0 1px 0 #000, -1px 0 0 #000, 0 -1px 0 #000;
}
.katya-icon {
  width: 60px;
  position: relative;
  border-radius: var(--br-11xl);
  height: 60px;
  object-fit: cover;
}
.users {
  position: absolute;
  height: 7.39%;
  width: calc(100% - 88px);
  top: 40.15%;
  right: 44px;
  bottom: 52.46%;
  left: 44px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.div2 {
  position: absolute;
  width: calc(100% - 16px);
  top: 33%;
  left: 8px;
  line-height: 22px;
  display: inline-block;
  text-shadow: 1px 0 0 #000, 0 1px 0 #000, -1px 0 0 #000, 0 -1px 0 #000;
}
.logo-main-icon {
  position: absolute;
  height: 21.55%;
  width: 37.6%;
  top: 6.9%;
  right: 31.2%;
  bottom: 71.55%;
  left: 31.2%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.the-main-screen {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  height: 812px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-lg);
  color: var(--color-white);
  font-family: var(--font-inter);
}
