
body {
    margin: 0;
    line-height: normal;
}


:root {
    
    /* fonts */
    --font-inter: Inter;
    
    /* font sizes */
    --font-size-4xs: 9px;
    
    /* Colors */
    --color-steelblue-100: #005493;
    --color-steelblue-200: rgba(0, 84, 147, 0.8);
    --color-steelblue-300: rgba(0, 84, 147, 0.45);
    --color-darkgray: #a2a1a1;
    --color-white: #fff;
    
    /* Border radiuses */
    --br-10xl: 29px;
    --br-8xl: 27px;
    --br-11xl: 30px;
    
}