
body {
    margin: 0;
    line-height: normal;
}


:root {
    
    /* fonts */
    --font-inter: Inter;
    
    /* Colors */
    --color-steelblue-100: #005493;
    --color-steelblue-200: rgba(0, 84, 147, 0.45);
    --color-darkgray: #a2a1a1;
    
}